body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 100%;
    background-color: #e0f7fa;
}
.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    font-size: 1rem;
}

.breadcrumb li {
    margin-right: 10px;
}

.breadcrumb a {
    display: inline-block;
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.breadcrumb a:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/assets/img/Cp9OVZWjQ325Anm2BxKr.png') no-repeat center center;
    background-size: cover;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image-container {
    margin-bottom: 20px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.hero-img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.text-container {
    padding: 10px;
}

.text-container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 1.1em;
    line-height: 1.6;
}
