@keyframes zoomBounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes colorChange {
    0% { background-color: #ff5733; }
    25% { background-color: #33c4ff; }
    50% { background-color: #28a745; }
    75% { background-color: #ffc107; }
    100% { background-color: #6f42c1; }
}

@keyframes doorOpen {
    0% {
        transform: perspective(1000px) rotateY(90deg);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

body {
    background-image: url(../img/geometric-background-vector-white-cube-patterns_53876-126683.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 1rem;
    color: white;
    text-align: center;
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.breadcrumb li {
    margin: 0 0.5rem;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    overflow: hidden;
    transition: transform 0.5s;
}

.card:hover {
    cursor: pointer;
}

.card1 {
    background-color: black;
    width: 300px;
    border: 2px solid #ff5733;
    
}

.card1:hover {
    animation: zoomBounce 1s;
}

.card2 {
    width: 250px;
    border: 2px solid #33c4ff;
    border-radius: 16px;
    animation: colorChange 5s infinite;
}

.card3 {
    background-color: rgb(9, 187, 9);
    width: 350px;
    border: 2px solid #28a745;
   
}

.card4 {
    width: 280px;
    border: 2px  #ffc107;
    background-color: #f8f9fa;
}

.card4:hover .text-container {
    display: block;
    animation: doorOpen 1s;
}

.card4 .text-container {
    display: none;
}

.card5 {
    width: 100%;
    max-width: 600px;
    display: flex;
    border: 2px solid #00000034;
    border-radius: 50px;
    background-color: #e0e0e0;
}
.landscape-card .image-container {
    flex: 1;
}
.card5 .content {
    display: flex;
    flex-direction: row;
}

.landscape-card .image-container,
.landscape-card .text-container {
    flex: 1;
    padding: 1rem;
}

.card .content {
    padding: 1rem;
}

.card .image-container {
    text-align: center;
}

.card .hero-img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.card .text-container {
    text-align: center;
}

.card .text-container h1 {
    margin: 0.5rem 0;
}

.card .text-container p {
    color: #666;
}

.card4 .icon-row {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.card4 .icon-row i {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: #333;
}
