body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
}

.breadcrumb ul li {
    display: inline;
    margin-right: 5px;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: #007bff;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card .content {
    padding: 20px;
    text-align: center;
}

.image-container {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.text-container {
    padding: 10px;
}

.text-container h1 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.text-container p {
    font-size: 1em;
    color: #555;
}


.card1 {
    background-color: black;
    color: white;
    border: 2px solid #d3d3d3;
}

.card1 .image-container {
    background-color: #d3d3d3;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card2 {
    background: linear-gradient(135deg, #5F4B8BFF, #E69A8DFF);
    border: 2px solid #ffcbcb;
    box-shadow: 0 0 10px #ffcbcb;
}

.card2 .image-container {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.card2 .text-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}


.card3 {
    background: linear-gradient(135deg, #2C5F2D, #97BC62FF);
}

.card3 .image-container {
    transition: transform 1s;
}

.card3:hover .image-container {
    transform: rotate(360deg);
}

.card3 .text-container p {
    color: white;
}


.card4 .image-container, .card4 .text-container {
    display: none;
}

.card4:hover .image-container, .card4:hover .text-container {
    display: block;
}

.card4 .icon-row {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.card4 .icon-row i {
    font-size: 24px;
    color: #000;
}


.card5 {
    background: linear-gradient(135deg, #00203FFF, #ADEFD1FF);
    transform: perspective(600px);
    transition: transform 0.6s;
}

.card5:hover {
    transform: perspective(600px) rotateY(180deg);
}

.card5 .content {
    transition: opacity 0.6s;
}

.card5:hover .content {
    opacity: 0;
}

.card5 .text-container h1, .card5 .text-container p {
    color: white;
}
