
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

.navbar ul li a:hover {
    color: #007bff;
}

.landing-container {
    background-image: url("../img/One-Punch-Man-World_Game-Review_EN_2.png");
    background-size: cover 90rem;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    text-align: center;
    padding-top: 60px; 
}

.landing-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 40px;
    border-radius: 10px;
}

.landing-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.landing-content p {
    font-size: 1.5em;
}
